@font-face {
    font-family: 'glacial';
    src: url('glacial-indifference/GlacialIndifference-Regular.otf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'glacial-i';
    src: url('glacial-indifference/GlacialIndifference-Italic.otf'); /* Locate the .ttf file within your directory*/
  }

div.cover {
    background: url(cover_background.png) no-repeat center/100% 100%;
    height: 500px;
    position: relative;
    margin-top: -50px;
}

div.cell-background {
    background: url(cell-background.png) no-repeat center center fixed;
    background-size: cover; 
    height: 700px;
    margin-top: 50px;
}

div.mountain {
    background: url(mountain.png);
    background-size: 50px;
    position: relative;
    height: 20px;
    margin-top: -20px;
}

img.cover-logo {
    height: 200px;
    position: relative;
    margin-left: 42%
}

body {
    font-family: 'glacial', sans-serif;
    background: url("clear-background.svg") no-repeat center center fixed;
    background-size: cover; 
    height: 100vh;
    margin: 0;
  }

iframe {
    width: 100%;
    height: 50vh; /* Ajuste cette valeur pour obtenir la hauteur désirée */
    border: none;
}

  h1 {
    font-size: 60px;    
    position: relative;
    text-align: center;
  }

div.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.padding-top {
    padding-top: 20px;
}

div.quote {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
    font-family: "glacial-i";
}

div.intro {
    margin-left: 40px;
    margin-right: 200px;
    font-size: 30px;
    padding-top: 30px;
    text-align:justify;
}

div.help {
    padding-top: 0px;
    font-size: 35px;
    color: rgb(41, 66, 155);
    text-align:center;
}

li {
    margin: 40px 0;
    list-style-type: square;
    text-align:justify;
  }

html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-container {
    display: flex;
    justify-content: space-between; /* Pour aligner les images à gauche, au centre et à droite */
    align-items: center;
    margin: 100px;
}

.image {
    width: 70px; /* Ajuste la taille de l'image */
    opacity: 0; /* Les images sont invisibles au départ */
    transition: opacity 1s ease-in;
}

div.frame {
    margin-top: 0px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    width: 98%;
    display: block;
}

div.cell1 {
    width: 70%;
}

td.cell2 {
    width: 15%;
    background-color: rgb(161, 225, 199) !important;
}

td.cell3 {
    width: 15%;
    background-color: rgb(161, 173, 225) !important;
}

p.frame-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

div.texte-avec-ligne-verticale {
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 100px;
    display: inline-block;
}

/* Ajout de la media query pour écrans de moins de 768px */
@media only screen and (max-width: 768px) {

    /* Adapter la taille du texte */
    h1 {
        font-size: 40px;
    }

    div.quote,
    div.intro,
    div.help {
        font-size: 20px;
        margin: 5px; /* Réduire les marges */
    }

    /* Ajuster la taille et l'alignement du logo */
    img.cover-logo {
        height: 70px;
        text-align: center;
        margin-bottom: 5px;
        display: inline-block;
    }

    /* Réduire la hauteur des images de fond */
    div.cover {
        height: 300px;
    }

    div.padding {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    div.cell-background {
        height: auto;
        padding: 10px;
        margin-top: -60px;
    }

    /* Centrer et réduire les images dans le container */
    .image-container {
        display: flex;
        justify-content: space-between; /* Pour aligner les images à gauche, au centre et à droite */
        align-items: center;
        margin: 10px;
        padding: 20px;
    }

    .image {
        width: 50px; /* Augmenter légèrement la taille des images */
        margin: 10px 0;
    }

    /* Disposition en colonne pour le tableau des tarifs */
    table {
        width: 100%;
    }

    table tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table td {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }
    div.frame { 
        width: 100%;
        display: flex;
        padding: 10px;
    }

    div.cell1 {
        width: 100%;
        padding: 10px;
    }
    
    td.cell2 {
        width: 100%;
        background-color: rgb(161, 225, 199) !important;
        display: inline;
    }
    
    td.cell3 {
        width: 100%;
        background-color: rgb(161, 173, 225) !important;
        display: inline;
    }
    td.cell2 ul li, 
    td.cell3 ul li {
        margin: 10px 0; /* Ajuste cette valeur pour réduire l'écart */
        padding: 0;
        font-size: 20px;
    }
    p.frame-title {
        font-size: 20px;
        display: flex;
    }

    div.texte-avec-ligne-verticale {
        display: flex;
    }
}

@media only screen and (max-width: 439px) {
    img {
        display: none; /* Masque l'image si la largeur de l'écran est inférieure à 439px */
    }
}
